<h1>Register</h1>
<form action='/users' method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <label>Name</label> <input type='text' name='user[name]'>
    <br>
    <br>
    Email: <input type='text' name='user[email]'>
    <br>
    <br>
    Password: <input type='password' name='user[password]'>
    <br>
    <br>
    Confirm Password: <input type='password' name='user[password_confirmation]'>
    <br>
    <br>
    <button type='submit' name='join'>Join</button>
</form>
